@import "utility";
@import "attribute";

.hero {
  background-color: #e1e1e1;
  position: absolute;
  top:0;
  width: 100%;
  &__container {
    height: 100vh;
    @media only screen and (max-width: 1024px){
      height: auto;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
      height: auto;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 667px) {
      height: auto;
    }
  }
  &__header {
    padding: 3rem 3rem;
  }
  &__header-right {
    &--img {
      width: 100px !important;
      margin-top: 6px;
      margin-left: 5px;
    }
    img {
      width: 50px;
      display: inline-block;
      cursor: pointer;
    }
    &--img1 {
      float: right;
      @media only screen and (max-width: 767px){
        width: 35px !important;
      }
    }
    h4 {
      display: inline-block;
      margin-right: 5rem;
      font-weight: 300;
      cursor: pointer;
      font-size: 16px;
      float: right;
    }
  }
  &__join {
    margin: 5rem 20rem 1rem;
    @media only screen and (max-width: 1024px) {
      margin: 5rem 5rem 1rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
      margin: 6rem 10rem 1rem;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 667px) {
      margin: 7rem 3rem 3rem;
    }
  }
  &__join-header {
    h2 {
      font-weight: 300;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
  &__join-content {
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    //line-height: 18px;
    h4 {
      margin-top: 6rem;
      font-size: 12px;
      font-weight: 700;
      @media only screen and (min-device-width : 320px) and (max-device-width : 667px) {
        margin-top: 2rem;
      }
    }
    h5 {
      font-size: 12px;
      font-weight: 300;
      margin-top:0.2rem;
      @media only screen and (min-device-width : 320px) and (max-device-width : 667px) {
       margin-bottom: 4rem;
      }
    }
  }
  &__join-jobs {
    margin-top: 3rem;
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
      margin-top: 10rem;
    }
    &--box {
      margin-bottom: 4rem;
      @media only screen and (min-device-width : 320px) and (max-device-width : 667px) {

      }
    }
    &--box:first-child {
      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){

      }
      @media only screen and (min-device-width : 320px) and (max-device-width : 667px) {

      }
    }
    &--box:last-child {

      @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){

      }
    }
    .box-container {
      -webkit-box-shadow: 0px 1px 21px -4px rgba(0,0,0,0.51);
      -moz-box-shadow: 0px 1px 21px -4px rgba(0,0,0,0.51);
      box-shadow: 0px 1px 21px -4px rgba(0,0,0,0.51);
      @media only screen and (max-width: 767px) {
        max-width: 260px;
        margin: 0 auto;
      }
    }
  }
  &__jobs-top {
      height: 150px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
      height: 125px;
    }
      img {
        width: 100%;
        height: 100%;
      }
  }
  &__jobs-bottom {
    padding: 1rem;
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
      padding: 1rem;
      height: 100px;
      font-size: 12px;
    }
    p {
      font-size: 12px;
      text-align: justify;
    }
  }
  &__bottom {

  }
  &__bottom-top {
    height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__bottom-content {
    margin: 6rem 20rem;
    @media only screen and (max-width: 1024px) {
      margin: 6rem 5rem;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
      margin: 4rem 10rem;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 667px) {
      margin: 2rem 3rem;
    }
  }
  &__bottom-header {
    h2 {
      text-align: center;
      font-weight: 300;
    }
  }
  &__bottom-text {
    margin-top: 6rem;
    p {
      font-size: 14px;
      font-weight: 300;
      text-align: justify;
    }
  }
  &__footer {
    height: 200px;
    background-image: url('../images/footer_div.jpg');
  }
  &__footer-content {
    padding: 2rem;
    img {
      width: 30px;
      margin-bottom: 1.5rem;
    }
    h4 {
      color: #fff;
      font-size: 12px;
      line-height: 18px;
    }
    p a {
      color: #ffffff;
      font-size: 12px;

    }
  }
}

//home Starts

.home {
  margin-top: 125px;
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  &__container {
 padding: 2rem 5rem 1rem;
    height: 100vh;
    @media only screen and (max-width: 767px) {
      height: auto;
      padding: 2rem 2.5rem 1rem;
    }

  }
  &__left {
    margin-top: 10px;
    padding: 0;
    &--img {
      padding-left: 2rem;
      text-align: center;
      img {
        width: 100%;
        max-width: 410px;
@media only screen and (max-width: 767px) {
  margin-top: 10rem;
}
      }
    }
  }
  &__right {
    &--content {
      margin-top: 10rem;
      margin-left: 8rem;
      @media only screen and (max-width: 767px) {
       margin-left: 0px;
        margin-top: 0rem;
      }
      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
        margin-left: 6rem;
      }
      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
        margin-left: 6rem;
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        margin-left: 6rem;
      }
        h2 {
        font-size: 33px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      P {
        font-size: 14px;
        font-weight: 400;
      }
    }
    &--margin {
 margin-top: 5rem;
      font-size: 15px !important;
      font-weight: 400 !important;
      margin-bottom: 15px;

    }
    &--input {
      display: inline-block;
      color: #888;
      text-align: center;
      input {
        display: inline-block;
        padding: 4px 10px;
        max-width: 244px;
        background-color: inherit;
        border: 1px solid #000;
        outline: none;
        border-radius: 0px;
        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
          min-width: 200px;
        }
        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
          min-width: 200px;        }
      }
      button {
       display: inline-block;
        background-color: #3b3b3b;
        border: none;
        outline: none;
        padding: 6px 20px;
        color: #ffffff;
        position: relative;
          right: 5px;
        @media only screen and (max-width: 767px) {
          margin-top: 15px;
        }
      }
    }
  }
}
.alerts {
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  &__container {
    padding: 5rem 5rem 1rem;
    @media only screen and (max-width: 767px) {
      height: auto;
      padding: 5rem 2.5rem 1rem;

    }

  }
  &__left {
    margin-top: 10px;
    padding: 0;
    &--img {
      padding-left: 2rem;
      text-align: center;
      img {
        width: 100%;
        max-width: 300px;      }
    }
  }
  &__right {
    &--content {
      margin-top: 8rem;
      margin-left: 8rem;
      @media only screen and (max-width: 767px) {
        margin-left: 0px;
        margin-top: 5rem;
      }
      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
        margin-left: 6rem;
        margin-top: 0rem;
      }
      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
        margin-left: 6rem;
        margin-top: 0rem;

      }
      h2 {
        font-size: 30px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: left;
      }
      P {
        font-size: 14px;
        font-weight: 400;
        @media only screen and (max-width: 767px) {
          text-align: justify;
        }
      }
    }
    &--margin {
      margin-top: 5rem;
      font-size: 15px !important;
      font-weight: 400 !important;
      margin-bottom: 15px

    }
    &--input {
      button {
        margin-top: 15px;
        display: inline-block;
        background-color: #3b3b3b;
        border: none;
        outline: none;
        padding: 5px 20px;
        color: #ffffff;
        position: relative;
        right: 5px;
        @media only screen and (max-width: 767px) {
          margin-top: 15px;
        }
      }
    }
  }
}
.sales {
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  &__container {
    padding: 5rem 5rem 1rem;
    @media only screen and (max-width: 767px) {
      height: auto;
      padding: 5rem 2.5rem 1rem;
    }

  }
  &__left {
    margin-top: 10px;
    padding: 0;
    &--img {
      padding-left: 2rem;
      text-align: center;
      img {
        width: 100%;
        max-width: 300px;      }
    }
  }
  &__right {
    &--content {
      margin-top: 8rem;
      margin-left: 8rem;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 12rem;
      @media only screen and (max-width: 767px) {
        margin-left: 0px;
        text-align: center;
      }
      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
        margin-left: 6rem;
      }
      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
        margin-left: 6rem;
      }
      h2 {
        font-size: 30px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      P {
        font-size: 14px;
        font-weight: 400;
      }
    }
    &--margin {
      margin-top: 5rem;
      font-size: 15px !important;
      font-weight: 400 !important;
      margin-bottom: 15px;

    }
    &--input {
      display: inline-block;
      color: #888;
      text-align: center;
      input {
        display: inline-block;
        padding: 4px 10px;
        max-width: 244px;
        background-color: inherit;
        border: 1px solid #000;
        outline: none;
        border-radius: 0px;
        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
          min-width: 200px;
        }
        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
          min-width: 200px;        }
      }
      button {
        display: inline-block;
        background-color: #3b3b3b;
        border: none;
        outline: none;
        padding: 6px 20px;
        color: #ffffff;
        position: relative;
        right: 5px;
        @media only screen and (max-width: 767px) {
          margin-top: 15px;
        }
      }
    }

  }
  &__footer {
    height: 200px;
    background-image: url('../images/footer_div.jpg');
  }
  &__footer-content {
    padding: 2rem;
    img {
      width: 30px;
      margin-bottom: 1.5rem;
    }
    h4 {
      color: #fff;
      font-size: 12px;
      line-height: 18px;
    }
    p a {
      color: #fff;
      font-size: 12px;
    }
  }
}
.section2
{
  &__right {

    &--content {
      @media only screen and (max-width: 767px) {
        margin-top: 5rem;
        margin-bottom: 0rem;
      }
    }

  }
  &__container {
    @media only screen and (max-width: 767px) {
      padding-top: 0rem;
      text-align:center;
    }
  }

}
