body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(225, 225, 225);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  text-align: center;
  color: #888;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: #888;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  color: #888;
}

:-ms-input-placeholder {
  text-align: center;
  color: #888;
}
